body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgb(214, 209, 209);
    height: auto;
    width: auto;
    padding: 40px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

label {
    font-size: large;
    font-weight: bold;
}

.space {
    height: 20px;
}

input {
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
}

#user-name,
#user-email,
#user-password,
#user-dob {
    height: 45px;
    width: 180px;
    border-radius: 5px;
    margin-left: 80px;
    border-width: thin;
}

#dob {
    height: 45px;
    width: 180px;
    border-radius: 5px;
    margin-left: 23px;
    border-width: thin;
}

#accept-terms {
    margin: 0;
}

button {
    height: 40px;
    width: 120px;
    border-radius: 5px;
    border: none;
    background-color: rgb(7, 184, 7);
    color: white;
    font-size: 16px;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

::-webkit-input-placeholder {
    padding-left: 20px;
}

td {
    padding: 5px 10px 5px 10px;
    border: 1px solid rgb(199, 193, 193);
    font-weight: 500;
}

th {
    padding: 10px 15px 10px 15px;
    font-size: larger;
    font-weight: bolder;
}

table {
    width: 100%;
}

h1 {
    text-align: center;
}

.entries-div {
    margin-top: 50px;
    height: auto;
    width: 700px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}
button:hover {
    background-color: rgb(0, 150, 0);
}
